/* Стили таблицы (IKSWEB) */
table.PlayerInfo{text-decoration: none;border-collapse:collapse;width:100%;text-align:center;}
table.PlayerInfo th{font-weight:normal;font-size:14px; color:#ffffff;background-color:#0f65a3;}
table.PlayerInfo td{font-size:13px;color:#354251;}
table.PlayerInfo td,table.PlayerInfo th{white-space:pre-wrap;padding:10px 5px;line-height:13px;vertical-align: middle;border: 1px solid #0f65a3;}
table.PlayerInfo tr:hover{background-color:#f9fafb}
table.PlayerInfo tr:hover td{color:#354251;cursor:default;}